.btn_sizes {
    /* font-size: 12px; */
    line-height: 16px;    
    font-weight: 600;
    /* min-width: 180px; */
    /* height: 40px; */
    background-color: #fff;
    margin: 0;
    border-radius: 0;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
.btn_sizes.text-white{
    color: #fff;
    background-color: #1989E9;
}
.area_btn button:nth-child(1){
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.area_btn button:nth-child(3){
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
/* .add_task {
    background-color: #1989E9;
    font-size: 16px;
    line-height: 24px;
    width: 135px;
    height: 38px;
} */
.gray_bg {
    background-color: #f3f4f6;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
}
.border_place{
    border: 1px solid #D1D5DB;
}
.jw-btn{
    font-size: 1rem;
} 
.sector_name span {
    display: inline-block;
}
.traning_tabs .tab_name {
    border-right: 1px solid #D1D5DB;
    padding: 16px 36px !important;
}
.traning_tabs .tab_name p {
    color: #6B7280;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.traning_tabs .tab_name:last-child {
    border-right: none !important;
}
.traning_tabs .tabs_name {
    box-shadow: 0px 4px 6px -1px #0000001A;
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
}
.traning_tabs .tab_name.text-black p {
    color: #111827;
    font-weight: 600 !important;
}
.admin_search {
    /* max-width: 320px !important; */
    width: 100%;
}
.admin_search input {
    /* max-width: 300px !important; */
    width: 100% !important;
}
table.jw-table th{
    font-weight: 500;
    color: #6B7280;
}
.jw-btn__blue,
.jw-btn__red,
.btn-cancel{
    padding: 12px 24px;
}
.traning_tabel thead{
    background-color: #fff !important;
}
.gama{
    background-color: #FEE2E2;
    color: #DC2626;
}